@model PagedList.PagedList<DACS_CNPM.Entities.Khoa_hoc>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "IndexKH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách khóa học</h2>
<hr />
<hr />
<div class="main">
    <div class="content">
        <ul class="section group">

            @foreach (var item in Model)
            {
                <li>
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="#"><img src="~/Content/KH_Images/@item.Banner" alt="" /></a>
                        <h2>@item.TenKh</h2>
                        <div class="price-details">
                            <div>
                                <p><span class="rupees">@item.HocPhi đ</span></p>
                            </div>

                            <div class="add-cart">
                                @*<form action="/Khoa_Hoc/Dang_ky?@session.UserID">Đăng ký</form>*@
                                <h4><a href="">Đăng ký</a></h4>
                                <button action="/Khoa_Hoc/Dang_ky?@item.MaKh" class="btn btn-success"> đăng ký</button>
                            </div>
                            <button class="btn btn-block">chi tiết</button>
                            <div class="clear"></div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="pagination">
    @Html.PagedListPager(Model, trang => Url.Action("Index", new { trang = trang }))
</div>

