@model PagedList.PagedList<DACS_CNPM.Entities.Khoa_hoc>
@using PagedList;
@using PagedList.Mvc;
@using DACS_CNPM.Entities;

@{
    ViewBag.Title = "IndexKH";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dang_ky = ViewBag.dangky;
}

<h2>Danh sách khóa học</h2>
<hr />
<hr />
<div class="main">
    <div class="content">

        <div class="section group">
            @{
                var session = (UserLogin)Session[DACS_CNPM.Common.CommonConstants.USER_SESSION];
            }
            @foreach (var item in Model)
            {
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="/Home/chitietkhoahoc?id=@item.MaKh"><img src="~/Content/KH_Images/@item.Banner" alt="" height="150" width="250" /></a>
                    <h2>@item.TenKh</h2>
                    <div class="price-details">
                        <div>
                            <p><span class="rupees">@item.HocPhi đ</span></p>
                        </div>

                        @if (session == null)
                        {
                            <div class="add-cart">
                                <h4><a href="/Login/Login" class="btn btn-success"> Đăng ký</a></h4>
                            </div>
                        }
                        else
                        {
                            var x = 0;
                            foreach (Dang_Ky_KH da_dang_ky in dang_ky)
                            {
                                if (da_dang_ky.MaKh == item.MaKh && da_dang_ky.MaHv == session.UserID)
                                {
                                    <div class="add-cart">
                                        <h4><button class="btn btn-success">Đã đăng ký </button></h4>
                                    </div>
                                    x += 1;
                                }
                            }
                            if (x == 0)
                            {
                                <div class="add-cart">
                                    <h4><a href="/DK_Khoa_Hoc/Dang_ky?id= @item.MaKh" class="btn btn-success"> Đăng ký</a></h4>
                                </div>
                            }

                        }
                        <div class="clear"></div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="section group">
    <h4>@Html.PagedListPager(Model, trang => Url.Action("IndexKH", new { trang = trang }))</h4>
</div>


