@model PagedList.PagedList<DACS_CNPM.Entities.Giang_Vien>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "IndexGV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách giảng viên</h2>
<hr />
<hr />
<div class="main">
    <div class="content">
        <ul class="section group">
            @foreach (var item in Model)
            {
                <li>
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="#"><img src="~/Content/KH_Images/@item.HinhAnh" alt="" /></a>
                        <h2>@item.HoTen</h2>
                        
                        <div class="price-details">
                            

                            <div class="add-cart">
                                <h4><a href="preview.html">Theo dõi</a></h4>
                            </div>
                            <button class="btn btn-block">Thông tin</button>
                            <div class="clear"></div>
                        </div>

                    </div>

                </li>

            }
        </ul>
    </div>
</div>
<div class="pagination">
    @Html.PagedListPager(Model, trang => Url.Action("Index", new { trang = trang }))
</div>



