
@{
    ViewBag.Title = "timkiemKH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DACS_CNPM.Entities
@{
    ViewBag.Title = "KhoaHocTheoMon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ List<Khoa_hoc> khoahoc = (List<Khoa_hoc>)ViewData["TimKiemKH"];}
<h2>Danh sách khóa học</h2>
<hr />
<hr />
<ul class="section group">
    @foreach (var item in khoahoc)
    {
        <li>
            <div class="grid_1_of_4 images_1_of_4">
                <a href="#"><img src="~/Content/KH_Images/@item.Banner" alt="" /></a>
                <h2>@item.TenKh</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@item.HocPhi</span></p>
                    </div>

                    <div class="add-cart">
                        <h4><a href="preview.html">Đăng ký</a></h4>
                    </div>
                    <button class="btn btn-block">chi tiết</button>
                    <div class="clear"></div>
                </div>

            </div>

        </li>

    }
</ul>

