
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Đồ án Cơ sở</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <script type="text/javascript" src="~/Content/js/startstop-slider.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                <div class="call">
                    <p><span>Hotline : </span> <span class="number">0369603252</span></p>
                </div>
                <div class="account_desc">
                    <ul>
                        @{
                            var session = (UserLogin)Session[DACS_CNPM.Common.CommonConstants.USER_SESSION];
                        }
                        @if (session == null)
                        {
                            <li><a href="/Hoc_Vien/Create">Đăng Ký</a></li>
                            <li><a href="/Login/Login">Đăng nhập</a></li>
                        }
                        else
                        {
                            <li class="cart">
                              <span>Tài khoản của tôi</span>
                                <div id="dd" class="wrapper-dropdown-2">
                                    <ul class="dropdown">
                                        <li><a href="/Hoc_Vien/dangky/@session.UserID">Khóa học đã đăng ký</a></li>
                                        <li><a href="/Hoc_Vien/Edit?id=@session.UserID">Sửa thông tin</a></li>
                                        <li><a href="/Hoc_Vien/Matkhau1?id=@session.UserID">Đổi mật khẩu</a></li>

                                    </ul>
                                </div>
                            </li>

                            <li class="cart"><a href="/Login/Logout">Đăng xuất | </a></li>

                        }
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="/Home/index"><img src="~/Content/images/moon.png" alt="" /></a>
                </div>

                <script type="text/javascript">
                    function DropDown(el) {
                        this.dd = el;
                        this.initEvents();
                    }
                    DropDown.prototype = {
                        initEvents: function () {
                            var obj = this;

                            obj.dd.on('click', function (event) {
                                $(this).toggleClass('active');
                                event.stopPropagation();
                            });
                        }
                    }

                    $(function () {

                        var dd = new DropDown($('#dd'));

                        $(document).click(function () {
                            // all dropdowns
                            $('.wrapper-dropdown-2').removeClass('active');
                        });

                    });

                </script>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                <div class="menu">
                    <ul>
                        <li class="active"><a href="/Home/index">Trang chủ</a></li>
                        <li><a href="/Home/IndexKH">Khóa học</a></li>
                        <li><a href="/Home/IndexGV">Giảng viên</a></li>

                        <li><a href="#">Liên hệ</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="search_box">
                    <form action="/Home/timkiemKH">
                        <input type="text" name="TenKh" placeholder="Tìm kiếm khóa học">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>

            @RenderBody()
        </div>
        <div class="footer">
            <div class="wrap">
                <div class="section group">
                    <h3>Đại học công nghệ TP.HCM - HUTECH<br /></h3>
                    <h4>Đồ án cơ sở chuyên ngành công nghệ phần mềm<br /></h4>
                    Sinh viên thực hiện : <br />
                    Nguyễn Quang Trung - 1611060303<br />
                    Trần Nguyên Trâm - 1611060395
                </div>
                <div class="copy_right">
                    <p>&copy; Đồ án cơ sở - 2019</p>
                </div>
            </div>

        </div>
</body>
</html>

